<a href="https://colab.research.google.com/github/ms624atyale/Natural_Language_Processing/blob/main/1_BigDataSet_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### <font color = 'red'> ğŸ¹ğŸ”§ğŸ”¨ **Introduction to Natural Language Processing** </font>

[1970~2016 UN Gerneral Database ìœ ì—”ì´íšŒì¼ë°˜í† ì˜]

* [Harvard Database](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/0TJX8Y)
* [Github Database](https://github.com/blueprints-for-text-analytics-python/blueprints-text/blob/master/data/un-general-debates/un-general-debates-blueprint.csv.gz)
* [Basic codelines and result files for analysis](https://oreil.ly/btap-code)

In [5]:
import pandas as pd
file = "/content/sample_data/un-general-debates-blueprint.csv"
df = pd.read_csv(file)
df.sample(2)
#df = pd.sample(frac = 0.1)

,session,year,country,country_name,speaker,position,text
66,25,1970,VEN,"Venezuela, Bolivarian Republic of",Mr. CALVANI,NaN,"\n\n\n\n\n Mr. President, on behalf of my Gove..."
2129,41,1986,AUT,Austria,Mr. Jankowitsch,NaN,"When the General Assembly adjourned last year,..."

###ğŸ¹ ëŒ€ê·œëª¨ ë°ì´í„° íƒìƒ‰ ëŒ€ì‹  ê°œìˆ˜ê°€ ì ì€ **ë°ì´í„° ìƒ˜í”Œ ì‚¬ìš©**
* ì¥ì : ì‹œê°í™”ì™€ í•„ìš”í•œ íŠ¹ì„±ì„ ë¹ ë¥´ê²Œ ê°œë°œ ê°€ëŠ¥. ë¶„ì„ì´ ì¤€ë¹„ ë˜ì—ˆì„ ë•Œ í° ë°ì´í„°ì…‹ì—ì„œ ëª¨ë“  ê²ƒì„ ë‹¤ì‹œ ì‹¤í–‰.
* ì•„ë˜ ì½”ë“œë¼ì¸ì€ ì „ì²´ ë ˆì½”ë“œì˜ 10% ë¥¼ ì„ì˜ë¡œ ì¶”ì¶œí•´ ê¸°ì¡´ ë°ì´í„° í”„ë ˆì„ì„ êµì²´í•˜ëŠ”ë° ì‚¬ìš©

In [6]:
import pandas as pd
file = "/content/sample_data/un-general-debates-blueprint.csv"
df = pd.read_csv(file)
df = df.sample(frac = 0.1)